.gallery-container {
  .carousel-container {
    .carousel {
      margin-bottom: unset;
    }

    .carousel-inner {
      max-height: 93.4vh;
      height: 100vh;
    }

    .carousel-item {
      height: 95vh;

      .img-div {
        height: 100vh;
      }
    }
  }

  .story-in-images {
    .story-image {
      width: 100%;
      height: 50vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      // opacity: 0.5;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        color: black;
      }
    }
  }

  .stories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    gap: 20px;
    margin: 20px 0;
    justify-items: center;

    @media screen and (max-width:425px) {
      justify-items: unset;

      iframe {
        width: 100vw;
      }
    }

    img {
      width: 100vw;
      max-width: 450px;

    }

  }

  .video {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    iframe {
      width: 60vw;
      height: 500px;
    }
  }
}