
/*
 * Base structure
 */

 html,
 body {
     height: 100%;
     background-color: #fff;
 }
 
 body {
     color: #253526;
     text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
 }
 
 p {
     line-height: 2;
 }
 
 .cover-container {
     max-width: 100%;
 }

 .members {
	margin: 100px;
}

hr.style13 {
	height: 10px;
	width: 15%;
	justify-content: center;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.member-row {
	width: 50%;
	margin: 100px auto;
	text-align: center;
}

.member-row h3,p {
	padding: 10px auto;
}

/*
.member-left {
	width: 25%;
	float: left;
	margin-right: 30px;
	border-radius: 100%;
}

.member-right {
	width: 25%;
	float: right;
	margin-left: 30px;
	border-radius: 100%;
}
*/

.member-img {
	border-radius: 100%;
	padding: 50px;
}

.hovered {
	font-size: 2rem;

}

#button-tooltip {
	background-color: white;
