.members-container {
  margin-top: 20px;

  h2 {
    text-align: center;
  }

  hr {
    width: 50vw;
    margin: 1rem auto;
  }

  .members-section {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-items: center;
    margin-top: 50px;

    .member-img {
      width: 300px;
      height: 300px;
    }
  }
}

/* Responsiveness for Members Page */
@media screen and (max-width: 768px) {
  .members-container {
    .members-section {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 425px) {
  .members-container {
    .members-section {
      .member-img {
        width: 150px;
        height: 150px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .members-container {
    .members-section {
      .member-img {
        width: 140px;
        height: 140px;
      }
    }
  }
}